$color-primary: #009900;
$color-primary-hovered: #0BB10B;
$color-secondary: #fff;
$color-body: #F7F7F9;
$text-uppercase: uppercase;
$text-bold: bold;

@mixin fonts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    line-height: 18px;
}

body {
    margin: auto;
    max-width: 1024px;
    background: $color-body;
}

section {
    text-align: center;
}

button.primary {
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    margin: 50px auto;
    background: $color-primary;
    color: $color-secondary;
    text-transform: $text-uppercase;
    font-weight: $text-bold;
    @include fonts;
    &:hover {
        background: $color-primary-hovered;
        cursor: pointer;
    }
}
